body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-areas: "content" "footer";
}

.aside {
  background-color: #7f8c8d;
  grid-area: sidebar;
}

.aside i {
  color: #fff;
  display: none;
}

.main {
  background-color: #454545;
  grid-area: content;
}

.main_header>.img {
  grid-area: img;
}

.main_header>.details {
  grid-area: dtls;
}

.main_header {
  display: grid;
  grid-template-areas: "img"
    "dtls";
  color: #fff;
}

.footer {
  background-color: #43689b;
  grid-area: footer;
}

/* Frame dimension declarations */

@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 90px;
    grid-template-areas: "sidebar  content" "footer  footer";
  }

  .aside {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .aside i {
    display: block;
  }

  .main_header {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "img dtls";
  }
}