body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-areas: "content" "footer";
}

.main {
  background-color: #454545;
  grid-area: content;
}

.footer {
  background-color: #43689b;
  grid-area: footer;
}
